.state-dropdown {
  position: relative;
  border: none;
  width: 100%;
}

.select-button {
  background-color: white;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid black;
}

.panel {
  position: absolute;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 10px;
  width: 97.5%;
  display: grid;
  overflow-y: auto;
  height: 200px;
  /* grid-template-columns: repeat(3, 1fr); */
}

.button-text {
  flex-grow: 1;
}

.dropdown-icon {
  transition: transform 0.3s;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.panel div {
  display: flex;
  border-radius: 10px;
  padding: 5px;
}

.panel div.selected {
  background: lightblue;
}

.panel div:hover {
  background-color: lightblue;
  cursor: pointer;
}

.selected-option {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  padding: 4px 8px;
  background-color: lightblue;
  border-radius: 4px;
}

.close-icon {
  cursor: pointer;
  margin-left: 4px;
}
